@model DisciplinaryFormSearchModel

@{
    ViewBag.PageTitle = T("Admin.DisciplinaryForms.DisciplinaryForms").Text;
    NopHtml.SetActiveMenuItemSystemName("DisciplinaryForms");
}

@{
    const string hideSearchBlockAttributeName = "DisciplinaryFormListPage.HideSearchBlock";
    var hideSearchBlock = await genericAttributeService.GetAttributeAsync<bool>(await workContext.GetCurrentCustomerAsync(), hideSearchBlockAttributeName);
}

<style>
    #disciplinary-forms-grid_wrapper th {
        text-align: right !important;
    }
</style>

<form asp-controller="DisciplinaryForm" asp-action="List" method="post">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.DisciplinaryForms.DisciplinaryForms")
        </h1>
        <div class="float-right">
            <a asp-action="Create" class="btn btn-primary">
                <i class="fas fa-square-plus"></i>
                @T("Admin.Common.AddNew")
            </a>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="form-horizontal">
                <div class="cards-group">
                    <div class="card card-default card-search">
                        <div class="card-body">
                            <div class="row search-row @(!hideSearchBlock ? "opened" : "")" data-hideAttribute="@hideSearchBlockAttributeName">
                                <div class="search-text">@T("Admin.Common.Search")</div>
                                <div class="icon-search"><i class="fas fa-magnifying-glass" aria-hidden="true"></i></div>
                                <div class="icon-collapse"><i class="far fa-angle-@(!hideSearchBlock ? "up" : "down")" aria-hidden="true"></i></div>
                            </div>
                            <div class="search-body @(hideSearchBlock ? "closed" : "")">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <div class="col-md-4">
                                                <nop-label asp-for="SearchPersonName" />
                                            </div>
                                            <div class="col-md-8">
                                                <nop-editor asp-for="SearchPersonName" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <div class="col-md-4">
                                                <nop-label asp-for="SearchFamilyName" />
                                            </div>
                                            <div class="col-md-8">
                                                <nop-editor asp-for="SearchFamilyName" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <div class="col-md-4">
                                                <nop-label asp-for="SearchCardNo" />
                                            </div>
                                            <div class="col-md-8">
                                                <nop-editor asp-for="SearchCardNo" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <div class="col-md-4">
                                                <nop-label asp-for="SearchAgencyName" />
                                            </div>
                                            <div class="col-md-8">
                                                <nop-editor asp-for="SearchAgencyName" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <div class="col-md-4">
                                                <nop-label asp-for="SearchCreatedFromUtc" />
                                            </div>
                                            <div class="col-md-8">
                                                <nop-editor asp-for="SearchCreatedFromUtc" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <div class="col-md-4">
                                                <nop-label asp-for="SearchCreatedToUtc" />
                                            </div>
                                            <div class="col-md-8">
                                                <nop-editor asp-for="SearchCreatedToUtc" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="text-center col-12">
                                        <button type="button" id="search-disciplinary-forms" class="btn btn-primary btn-search">
                                            <i class="fas fa-magnifying-glass"></i>
                                            @T("Admin.Common.Search")
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card card-default">
                        <div class="card-body">
                            @{
                                var gridModel = new DataTablesModel
                                {
                                    Name = "disciplinary-forms-grid",
                                    UrlRead = new DataUrl("DisciplinaryFormList", "DisciplinaryForm", null),
                                    SearchButtonId = "search-disciplinary-forms",
                                    Length = Model.PageSize,
                                    LengthMenu = Model.AvailablePageSizes,
                                    Filters = new List<FilterParameter>
                                    {
                                        new FilterParameter(nameof(Model.SearchPersonName)),
                                        new FilterParameter(nameof(Model.SearchFamilyName)),
                                        new FilterParameter(nameof(Model.SearchCardNo)),
                                        new FilterParameter(nameof(Model.SearchAgencyName)),
                                        new FilterParameter(nameof(Model.SearchCreatedFromUtc)),
                                        new FilterParameter(nameof(Model.SearchCreatedToUtc)),
                                    }
                                };

                                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(DisciplinaryFormModel.PersonName))
                                {
                                    Title = T("Admin.DisciplinaryForms.Fields.PersonName").Text
                                });
                                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(DisciplinaryFormModel.FamilyName))
                                {
                                    Title = T("Admin.DisciplinaryForms.Fields.FamilyName").Text
                                });
                                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(DisciplinaryFormModel.CardNo))
                                {
                                    Title = T("Admin.DisciplinaryForms.Fields.CardNo").Text
                                });
                                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(DisciplinaryFormModel.AgencyName))
                                {
                                    Title = T("Admin.DisciplinaryForms.Fields.AgencyName").Text
                                });
                                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(DisciplinaryFormModel.CreatedOnPersian))
                                {
                                    Title = T("Admin.DisciplinaryForms.Fields.CreatedOn").Text
                                });
                                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(DisciplinaryFormModel.Id))
                                {
                                    Title = T("Admin.Common.Edit").Text,
                                    Width = "80",
                                    ClassName = NopColumnClassDefaults.Button,
                                    Render = new RenderButtonEdit(new DataUrl("~/Admin/DisciplinaryForm/Edit"))
                                });
                            }
                            @await Html.PartialAsync("Table", gridModel)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
