@model PassengerSearchModel

@{
    //page title
    ViewBag.PageTitle = T("Admin.Passengers.Passengers").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("Passengers list");
}

@{
    const string hideSearchBlockAttributeName = "PassengerListPage.HideSearchBlock";
    var hideSearchBlock = await genericAttributeService.GetAttributeAsync<bool>(await workContext.GetCurrentCustomerAsync(), hideSearchBlockAttributeName);
}

<form asp-controller="Passenger" asp-action="List" method="post">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.Passengers.Passengers")
        </h1>
        <div class="float-right">
            <a asp-action="Create" class="btn btn-primary">
                <i class="fas fa-square-plus"></i>
                @T("Admin.Common.AddNew")
            </a>
            @await Component.InvokeAsync(typeof(AdminWidgetViewComponent), new { widgetZone = AdminWidgetZones.PassengerListButtons, additionalData = Model })
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="form-horizontal">
                <div class="cards-group">
                    <div class="card card-default card-search">
                        <div class="card-body">
                            <div class="row search-row @(!hideSearchBlock ? "opened" : "")" data-hideAttribute="@hideSearchBlockAttributeName">
                                <div class="search-text">@T("Admin.Common.Search")</div>
                                <div class="icon-search"><i class="fas fa-magnifying-glass" aria-hidden="true"></i></div>
                                <div class="icon-collapse"><i class="far fa-angle-@(!hideSearchBlock ? "up" : "down")" aria-hidden="true"></i></div>
                            </div>
                            <div class="search-body @(hideSearchBlock ? "closed" : "")">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <div class="col-md-4">
                                                <nop-label asp-for="SearchRecoveryNo" />
                                            </div>
                                            <div class="col-md-8">
                                                <nop-editor asp-for="SearchRecoveryNo" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <div class="col-md-4">
                                                <nop-label asp-for="SearchPersonName" />
                                            </div>
                                            <div class="col-md-8">
                                                <nop-editor asp-for="SearchPersonName" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <div class="col-md-4">
                                                <nop-label asp-for="SearchCityId" />
                                            </div>
                                            <div class="col-md-8">
                                                <nop-select asp-for="SearchCityId" asp-items="Model.AvailableCities" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <div class="col-md-4">
                                                <nop-label asp-for="SearchAgencyId" />
                                            </div>
                                            <div class="col-md-8">
                                                <nop-select asp-for="SearchAgencyId" asp-items="Model.AvailableAgencies" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <div class="col-md-4">
                                                <nop-label asp-for="SearchAntiXId" />
                                            </div>
                                            <div class="col-md-8">
                                                <nop-select asp-for="SearchAntiXId" asp-items="Model.AvailableAntiXItems" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="text-center col-12">
                                        <button type="button" id="search-passengers" class="btn btn-primary btn-search">
                                            <i class="fas fa-magnifying-glass"></i>
                                            @T("Admin.Common.Search")
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card card-default">
                        <div class="card-body">
                            @{
                                var gridModel = new DataTablesModel
                                {
                                    Name = "passengers-grid",
                                    UrlRead = new DataUrl("PassengerList", "Passenger", null),
                                    SearchButtonId = "search-passengers",
                                    Length = Model.PageSize,
                                    LengthMenu = Model.AvailablePageSizes,
                                    Filters = new List<FilterParameter>
                                    {
                                        new FilterParameter(nameof(Model.SearchRecoveryNo)),
                                        new FilterParameter(nameof(Model.SearchPersonName)),
                                        new FilterParameter(nameof(Model.SearchCityId)),
                                        new FilterParameter(nameof(Model.SearchAgencyId)),
                                        new FilterParameter(nameof(Model.SearchAntiXId)),
                                    }
                                };

                                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(PassengerModel.Id))
                                {
                                    IsMasterCheckBox = true,
                                    Render = new RenderCheckBox("checkbox_passengers"),
                                    ClassName = NopColumnClassDefaults.CenterAll,
                                    Width = "30"
                                });
                                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(PassengerModel.PersonName))
                                {
                                    Title = T("Admin.Passengers.Fields.PersonName").Text
                                });
                                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(PassengerModel.GuideNameAndLegionNo))
                                {
                                    Title = T("Admin.Passengers.Fields.GuideNameAndLegionNo").Text
                                });
                                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(PassengerModel.RecoveryNo))
                                {
                                    Title = T("Admin.Passengers.Fields.RecoveryNo").Text
                                });
                                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(PassengerModel.AgencyName))
                                {
                                    Title = T("Admin.Passengers.Fields.Agency").Text
                                });
                                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(PassengerModel.AntiX1Name))
                                {
                                    Title = T("Admin.Passengers.Fields.AntiX1").Text
                                });
                                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(PassengerModel.AntiX2Name))
                                {
                                    Title = T("Admin.Passengers.Fields.AntiX2").Text
                                });
                                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(PassengerModel.CreatedOnUtc))
                                {
                                    Title = T("Admin.Passengers.Fields.CreatedOn").Text,
                                    Render = new RenderDate()
                                });
                                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(PassengerModel.Id))
                                {
                                    Title = T("Admin.Common.Edit").Text,
                                    Width = "80",
                                    ClassName = NopColumnClassDefaults.Button,
                                    Render = new RenderButtonEdit(new DataUrl("~/Admin/Passenger/Edit"))
                                });
                            }
                            @await Html.PartialAsync("Table", gridModel)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>

<script>
    $(document).ready(function () {
        var citySelect = $("#@Html.IdFor(model => model.SearchCityId)");
        var agencySelect = $("#@Html.IdFor(model => model.SearchAgencyId)");
        var agenciesUrl = "@Url.Action("GetAgenciesByCityId", "Passenger")";
        var defaultAgencyText = "@T("Admin.Common.Select")";

        function loadAgencies(cityId, selectedAgencyId) {
            agencySelect.empty();
            agencySelect.append($("<option></option>").attr("value", "0").text(defaultAgencyText));

            if (!cityId || cityId === "0") {
                return;
            }

            $.getJSON(agenciesUrl, { cityId: cityId }, function (data) {
                $.each(data, function (index, item) {
                    var option = $("<option></option>").attr("value", item.id).text(item.name);
                    if (selectedAgencyId && selectedAgencyId.toString() === item.id.toString()) {
                        option.attr("selected", "selected");
                    }
                    agencySelect.append(option);
                });
            });
        }

        citySelect.on("change", function () {
            loadAgencies($(this).val(), 0);
        });

        if (citySelect.val() && citySelect.val() !== "0") {
            loadAgencies(citySelect.val(), agencySelect.val());
        }
    });
</script>

